html {
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:  #7ec0ee; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #7ec0ee, white ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #7ec0ee, white ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #7ec0ee, white ); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #7ec0ee, white ); /* Standard syntax */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 100%;
}

#searchForm {
  display: flex;
}

#searchResults {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.airline {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
  flex-basis: 60%;
}

th, td {
  text-align: center;
  line-height: 2em;
}

td.price {
  padding-left: .75em;
  padding-right: .75em;
}

tr:nth-child( even ) {
  background-color: white;
}

#cheapestFlight, #flights {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
}

.flight {
  display: flex;
  border: 1px solid black;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  line-height: 2em;
}

.flightInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.price {
  font-size: 2em;
  font-weight: bold;
}

div.airline {
  font-weight: normal;
}

.flightNumber, .flightDuration {
  font-size: .8em;
  font-color: gray;
}
